@import "color-scheme";

@import "fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--page-bg-color);
}

img {
  max-width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.body {
  display: block;
}

.header-div {
  z-index: 999;
  font-style: var(--header-font-style);
  font-weight: var(--header-font-weight);
  font-family: var(--header-font-family);
  font-size: max(20px, min(2vw,24px));
  h1 {
    font-size: max(40, min(4vw,48px));
  }

  border-bottom: .3rem solid var(--header-border-color);
  text-align: center;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;



  a {
    text-decoration: none;
    color: var(--header-text-color);
    // background-color: var(--nav-bg-color);
  }
  a:hover {
    color: va r(header-color-hover);
  }

  .title-icon {
    align-self: flex-end;
    order: 2;
    display: inline;

    div {
      left: auto;
      right: auto;
    }
  }

  .nav {
    font-style: var(--nav-font-style);
    font-weight: var(--nav-font-weight);

    display: inline;
    position: sticky;
    order: 1;
    align-self: flex-start;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }


  nav {
    display: flex;
    flex-direction: column;
  }
  nav a {
    color: var(--nav-text-color)
  }
  nav a:hover {
    color: var(--nav-color-hover);
    background-color: var(--nav-bg-color-hover);
  }
  nav a.current {
    color: var(--page-bg-color);
  }

  .nav-item {
    display: inline;
  }

}

.icon img {
  max-width: min(100%,175px);
  border-radius: 50%;
  border: .3rem solid var(--header-border-color);
  display: none;
}

.small-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  background-color: var(--header-bg-transparent);

  position: fixed;
  left: -100%;
  top: 5rem;
  width: 100%;
  text-align: center;
  transition: 0.3s;

  padding-bottom: 1rem;
  border-bottom: .3rem solid var(--header-border-color);
  
  .nav-item {
    padding: 1rem;
    width: 100%;
  }
}

.small-navbar.active {
  left: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger.active {
  .bar:nth-child(2) {
    opacity: 0;
  }

  .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--header-text-color);
}


.large-navbar {
  display: none;
}

header {
  position: sticky;
  margin-left: auto;
  margin-right: auto;
}

.site-body {
}

h1 {
  text-align: center;
}

.site-body {
  font-family: var(--body-font-family);
}

.content-div {

  padding: 1rem;

  color: var(--content-text-color);

  a {
    color: var(--content-link-color);
  }
  a:hover {
    color: var(--content-link-hover);
  }

}

.post {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.entry {
  margin-top: 1rem;
}


.footer-div {
  text-align: center;
  display: block;
  color: var(--footer-text-color);
  a {
    color: var(--footer-link-color);
  }
  a:hover {
    color: var(--footer-link-hover);
  }
}


// @media (min-width:768px) {
//   .body {
//     display: flex;
//   }

  
//   .nav-item {
//     display: block;
//   }

//   .header-div {
//     max-width: min(25%,300px);
//     padding: 1.5rem;
//     display: block;
//     border-right: .3rem solid var(--header-border-color);
//     border-bottom-right-radius: 2rem;
//     height: 100%;
//     overflow: hidden;
//     float: left;
//   }

//   .icon img {
//     max-width: min(100%,175px);
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     margin-top: 1rem;
//     margin-bottom: 1rem;
//   }

//   header {
//     position: sticky;
//     top: 1rem;
//     bottom: 1rem;
//   }

//   .nav {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     max-width: 100%;
//   }

//   nav {
//     flex-direction: row;
//   }

//   .small-navbar {
//     display: none;
//   }

//   .hamburger {
//     display: none;
//   }

//   .large-navbar {
//     display: flex;
//     flex-direction: column;
//     align-items: stretch;
//     align-content: stretch;
//   }

//   .nav-item {
//     display: inline;
//     width: 100%;
//   }

//   .content-div {
//     height: 100%;
//   }
// }


